@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 1.174rem;
}

html,
body,
input,
textarea,
select,
button {
	font-family: 'Poppins', system-ui, -apple-system, sans-serif;
}
